$icon-font-path: "/bower_components/bootstrap-sass/fonts/";
$fa-font-path:   "/bower_components/font-awesome/fonts/";

@import 'bootstrap-sass/lib/bootstrap';
@import 'font-awesome/scss/font-awesome';

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400);

body *, .btn {
    font-weight: 200;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    padding: 40px 20px;
    background-image: url(/images/texture.png);
}

h1 {
    font-size: 16px;
}

/*shared */

.col-sm-4 {
    padding: 0;
}

.b1 {
    background-color: #2980b9;
}

.b2 {
    background-color: #c0392b;
}

.b3 {
    background-color: #16a085;
}

.bit-nav, .bit-app {
    color: white;
    text-align: center;
}

/* navigation */

.bit-nav {
    font-size: 16px;
    cursor: pointer;
    display: block;
    overflow: hidden;
    text-transform: lowercase;

    div {
        margin: 20px 0;
    }

    i {
        padding: 20px;
        margin-top: 20px;
        font-size: 60px;
    }
}
.bit-nav:hover {
    color: white;
    text-decoration: none;
    opacity: 0.9;
}

/* apps */

.bit-app {
    padding: 5px 10px 10px 10px;
    a {
        color: white;
        text-decoration: underline;
    }
    a:hover {
        color: white;
        text-decoration: none;
    }
    h2, p {
        padding-bottom: 10px;
    }
    input, select {
        border: 0;
        margin: 0;
        vertical-align: middle;;
        outline: 0;
        padding: 5px 10px;
        background: white;
        font-weight: 400;
        color: #333;
    }
    input[type=submit] {
        border: 0;
        background: #2c3e50;
        color: white;
    }
    input[type=submit]:disabled {
        opacity: 0.2;
    }
}

/* footer */

.footer {
    padding: 10px;
    font-size: 10px;
    color: white;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
