<h1>
  bits and pieces by <a href="http://smuco.de/" target="_blank">smuco.de</a>
</h1>

<div class="col-sm-4">
  <a class="bit-nav b3" href="#gravatar">
    <i class="fa fa-user"></i>
    <div>Gravatar Image Tester</div>
  </a>
</div>

<div class="col-sm-4">
  <a class="bit-nav b1" href="#currency">
    <i class="fa fa-usd"></i>
    <div>Currency Converter</div>
  </a>
</div>

<div class="col-sm-4">
  <a class="bit-nav b2" href="#temperature">
    <i class="fa fa-sun-o"></i>
    <div>Temperature Converter</div>
  </a>
</div>
