<div class="col-sm-8 col-sm-offset-2">
  <div class="bit-app b2">
    <h2>Temperature Converter</h2>
    <p>{{info()}}</p>

    <div style="margin-bottom: 20px;">
      <input
        type="text"
        ng-model="temp"
        placeholder="Enter a temperature..."
        style="width: 100px; text-align: center;"
      />

       <div class="btn-group">
          <button
            style="border-radius: 0;"
            type="button"
            class="btn btn-primary"
            ng-model="from"
            btn-radio="'C'">
            Celcius
          </button>
          <button
            type="button"
            class="btn btn-primary"
            ng-model="from"
            btn-radio="'F'">
            Fahrenheit
          </button>
          <button
            style="border-radius: 0;"
            type="button"
            class="btn btn-primary"
            ng-model="from"
            btn-radio="'K'">
            Kelvin
          </button>
      </div>
    </div>

    <div style="margin-bottom: 20px;">
      <input
        type="text"
        xxng-model="temp"
        disabled="disabled"
        ng-value="convert()"
        style="width: 100px; text-align: center;"
      />

       <div class="btn-group">
          <button
            style="border-radius: 0;"
            type="button"
            class="btn btn-primary"
            ng-model="to"
            btn-radio="'C'">
            Celcius
          </button>
          <button
            type="button"
            class="btn btn-primary"
            ng-model="to"
            btn-radio="'F'">
            Fahrenheit
          </button>
          <button
            style="border-radius: 0;"
            type="button"
            class="btn btn-primary"
            ng-model="to"
            btn-radio="'K'">
            Kelvin
          </button>
      </div>
    </div>
  </div>
</div>
